<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafico-dona [Leyenda]="graficos.grafico1.leyenda" [data]="graficos.grafico1.data" [labels]="graficos.grafico1.labels" [type]="graficos.grafico1.type">
                        </app-grafico-dona>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafico-dona [Leyenda]="graficos.grafico2.leyenda" [data]="graficos.grafico2.data" [labels]="graficos.grafico2.labels" [type]="graficos.grafico2.type"></app-grafico-dona>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafico-dona [Leyenda]="graficos.grafico3.leyenda" [data]="graficos.grafico3.data" [labels]="graficos.grafico3.labels" [type]="graficos.grafico3.type"></app-grafico-dona>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-grafico-dona [Leyenda]="graficos.grafico4.leyenda" [data]="graficos.grafico4.data" [labels]="graficos.grafico4.labels" [type]="graficos.grafico4.type"></app-grafico-dona>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>